html {
    font-size: 85%;
    scroll-behavior: smooth;
}

body {
    background-color: lightgrey;
    text-align: center;
    display: block;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    padding: 10px 15px;
    background-color: lightgreen;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
    height: 5%;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.header__name {
    display: flex;
}

.header__main {
    display: box;
}

.header__links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__links li {
    display: inline-block;
    margin-right: 10px;
}

.main__content {
    margin-top: 100px;
}

section {
    display: block;
    margin-top: 10px;
    border: 1px solid black;
}

.btn {
    background: #7843E9;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: transform .3s;
}
    .btn:hover {
        transform: translateY(-3px);
    }
    .btn-bg {
        padding: 1.5rem 8rem;
        font-size: 2rem;
    }

.home-hero {
    position: relative;
    background-position: center;
    background-color: #fff;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),url(../../assets/svg/common-bg.svg);
}
    .home-hero__content {
        top: 50%;
        left: 50%;
        /* position: absolute;
        transform: translate(-50%, -50%); */
        max-width: 90%;
        width: 90rem;
    }
    .home-hero__btn {
        margin-top: 5rem;
        text-align: center;
    }