body {
    background-color: lightblue;
    text-align: center;
    background-color: white;
    display: block;
    box-sizing: border-box;
}

header {
    padding: 10px 15px;
    background-color: lightgreen;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
    height: 5%;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    display: flex;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header__name {
    display: flex;
}

.header__main {
    display: box;
}

.header__links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__links li {
    display: inline-block;
    margin-right: 10px;
}

.main__content {
    margin-top: 100px;
}

section {
    display: block;
    margin-top: 10px;
    border: 1px solid black;
}